{% extends 'DCGovHavenBundle::base.html.twig' %}
{% block body %}
	{{ parent() }}
    
	{% if error %}
	<div class="danger alert">{{ error.message }}</div>
	{% endif %}
	<div class="container" id="login-form-container">
		<form class="form-signin" id="login-form"
			action="{{ path('login_check') }}" method="POST">
			<h2 class="form-signin-heading col-xs-11 col-md-11">Login</h2>
			
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<label for="_username" class="">Username</label>	
				<input id="email" class="form-control" name="_username" type="email" placeholder="Username" value="{{ last_username }}" required autofocus />
				<i class="fa fa-user form-control-feedback"></i>
			</div>
			
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<label for="_password" class="">Password</label>

				<input id = "password" class="form-control" name="_password" type="password" placeholder="Password" required />
				<i class="fa fa-user form-control-feedback"></i>
			</div> 
							
			<div class="checkbox col-xs-11 col-md-11">
                <label>
                	<input type="checkbox" value="remember-me"> Remember me
              	</label>
              	<label for="" class="pull-right">
					<a href="forgot-password.html" >Fotgot Password ?</a>
				</label>
        	</div>
			<div class="col-xs-11 col-md-11">
				<button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
			</div>

		</form>
	</div>
{% endblock body %}	