{% extends 'DCGovHavenBundle::base.html.twig' %}
{% block navigation %}	
	{{ parent() }}
	<div class="navbar">
		<div class="container-fluid">
          	<h2 class="text-center">Password - Submission</h2>
        </div>
    </div>
{% endblock navigation %}

{% block body %}
	{{ parent() }}

       
    <div class="container" id="login-form-container">
    	<form class="form-signin" id="login-form"
    		action="{{ path('login') }}" method="POST">
    		
    		<div class="col-xs-11 col-md-11 margin-top-1em">
    			<div class="form-group">
    				<div class="alert alert-success text-center" role="alert">
    				{% if ispasswordchanged is defined %}
    					{% if ispasswordchanged == true %}
    						You have successfully changed your password!
                        {% else %}
                        	Sorry, we are unable to change your password. Please contact the system administrator.
                        {% endif %}
    				{% else %}
    					Your password has been reset. You will receive an email shortly regarding password reset instructions.
    				{% endif %}
                    </div>			  
    			</div>
    		</div>
    						
    		<div class="col-xs-11 col-md-11">
    			<button class="btn btn-lg btn-primary btn-block" type="submit">Return to Login</button>
    		</div>
    
    	</form>
    </div>	
{% endblock body %}	