{% extends 'DCGovHavenBundle::base.html.twig' %}
{% block navigation %}	
	{{ parent() }}
	<div class="navbar">
		<div class="container-fluid">
          	<h2 class="text-center">Login</h2>
        </div>
    </div>
{% endblock navigation %}

{% block body %}
	{{ parent() }}
	<div class="container" id="login-form-container">
		
		<form class="form-signin" id="login-form"
			action="{{ path('password_reset_submit') }}" method="POST">
			{% if error %}
        		<div class="danger alert alert-danger text-center" role="alert">{{ error }}</div>
        	{% endif %}
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<label for="_username" class="">Enter Username</label>	
				<input id="email" class="form-control" name="_username" type="text" 
					placeholder="Enter Username" value="" pattern=".{5,}" title="Please enter minimum of 5 characters." required autofocus />
				<i class="fa fa-user form-control-feedback"></i>
			</div>
							
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
			</div>

		</form>
	</div>

{% endblock body %}	