{% extends 'DCGovHavenBundle::base.html.twig' %}
{% block body %}
	{{ parent() }}
    
	<div class="container" id="login-form-container">
		<form class="form-signin" id="login-form"
			action="{{ path('login') }}" method="POST">
			<h2 class="form-signin-heading col-xs-11 col-md-11">Request Password</h2>
			
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<div class="form-group">
					<div class="alert alert-success text-center" role="alert">
                    Your password has been reset. You will receive an email shortly regarding password reset instructions.
                    </div>			  
				</div>
			</div>
							
			<div class="col-xs-11 col-md-11">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			</div>

		</form>
	</div>
{% endblock body %}	