{% extends 'DCGovHavenBundle::base.html.twig' %}
{% block navigation %}	
	{{ parent() }}
	<div class="navbar">
		<div class="container-fluid">
          	<h2 class="text-center">Change Password</h2>
        </div>
    </div>
{% endblock navigation %}	

{% block body %}
	{{ parent() }}
	<div class="container" id="login-form-container">
		
		<form class="form-signin" id="login-form"
			action="{{ path('password_change_submit') }}" method="POST">

			<div class="col-xs-11 col-md-11 margin-top-1em">
				<label for="password" class="">Enter New Password</label>	
				<input id="password" class="form-control" name="password" type="password" 
					placeholder="Enter New Password" value="" pattern=".{4,}" title="Please enter minimum of 4 characters." required autofocus />
				<i class="fa fa-user form-control-feedback"></i>
			</div>
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<label for="_username" class="">Confirm New Password</label>	
				<input id="_password" class="form-control" name=confirmpassword" type="password" 
					placeholder="Confirm New Password" value="" pattern=".{4,}" title="Please enter minimum of 4 characters." required />
				<i class="fa fa-user form-control-feedback"></i>
			</div>        							
			<div class="col-xs-11 col-md-11 margin-top-1em">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
			</div>
			
			<input type="hidden" name="userid" value="{{ userid }}">
	
		</form>
	</div>

{% endblock body %}	