{% extends 'DCGovHavenBundle::base.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="col-sm-9 main">
        <h3 class="sub-header">Welcome to the District's Safe Haven Portal</h3>  
    	
    </div>
{% endblock body %}