{% extends 'DCGovHavenBundle::base.html.twig' %}
    
{% block body %}
	{{ parent() }}

<div id="homePage">
	<div class="row text-center">
		<h3>Home Screen</h3>
	</div>
	<hr>
	<div class="row">
    	<div class="col-md-4">
    		<a class="btn btn-lg btn-primary btn-block" href="{{ path('dc_gov_haven_application_new') }}">
    		Create New Application
    		</a>
    	</div>
	</div>
</div>

{% endblock body %}