{% extends 'DCGovHavenBundle::base.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="col-sm-9 main">
        <h4 class="sub-header alert alert-info">You are not authorized to access this page. Please contact your system administrator</h4>  
    	
    </div>
{% endblock body %}