<!DOCTYPE html>
<html>
    <head>
		{% block head %}
    		{% include 'DCGovHavenBundle::head.html.twig' %}
    	{% endblock head %}
    </head>
    <body>
    	<header>
	    	{% block header %}
	    		{% include 'DCGovHavenBundle::header.html.twig' %}
	    	{% endblock header %}
    	</header>
    	
        {% block body %}
        	{% include 'DCGovHavenBundle::sidemenu.html.twig' %}
        {% endblock %}
        
        <footer>
	        {% block footer %}
	        	{% include 'DCGovHavenBundle::footer.html.twig' %}
	        {% endblock %}
	    </footer>
	    
	    
    </body>
</html>
