<!DOCTYPE html>
<html>
    <head>
		{% block head %}
    		{% include 'DCGovHavenBundle::head.html.twig' %}
    	{% endblock head %}
    </head>
    <body>
    	<header>
	    	{% block header %}
	    		{% include 'DCGovHavenBundle::header.html.twig' %}
	    	{% endblock header %}
    	</header>
    	
    	{% block navigation %}
    		<!-- Check if user is authenticated -->
            {% if app.user %}
                {% include 'DCGovHavenBundle::navigation.html.twig' %}
            {% endif %}
    	
         {% endblock navigation %}
    	
    	<!-- Main Body Contents -->
    	<div class="main">
				<div class="panel panel-default">
					<div class="panel-body">
                        {% block body %}
                             
                             
                        {% endblock %}
        			</div>
        		</div>
        </div>
        
        <footer class="footer">
	        {% block footer %}
	        	{% include 'DCGovHavenBundle::footer.html.twig' %}
	        {% endblock %}
	    </footer>

    </body>
</html>
