<!DOCTYPE html>
<html>
    <head>
		{% block head %}
    		{% include 'DCGovHavenBundle::head.html.twig' %}
    	{% endblock head %}
    </head>
    <body>
    	{% block header %}
    		{% include 'DCGovHavenBundle::header.html.twig' %}
    	{% endblock header %}
        {% block body %}
        	{% include 'DCGovHavenBundle::sidemenu.html.twig' %}
        {% endblock %}
        
        {% block footer %}
        	{% include 'DCGovHavenBundle::footer.html.twig' %}
        {% endblock %}
    </body>
</html>
