<div class="subfooter">
	<div class="container">
		<div class="subfooter-inner">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center ">
						&copy;&nbsp;2013-2016 DC Health Link. All Rights Reserved.&nbsp;
            			<a href="tel:1-800-897-7336">
            				<span class="glyphicon glyphicon-earphone"></span>&nbsp;1-800-897-7336 
            			</a>&nbsp;|&nbsp; 
            			<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
            				<span class="glyphicon glyphicon-envelope"></span>&nbsp;info@company.com
            			</a>&nbsp;|&nbsp; 
            			<a href="#">
            				<span class="glyphicon glyphicon-comment"></span>&nbsp;FAQ's
            			</a>		
					</p>
				</div>
			</div>
		</div>
	</div>
</div>