@CHARSET "UTF-8";

html, body {
    height: 100%;
}

footer {
	margin-top: 1em;
	bottom: 0;
	position: absolute;
    width: 100%;
	
}

@media (min-width: 992px)
.subfooter {
    text-align: left;
}

.subfooter {
    padding: 20px 0;
    font-size: 14px;
	margin-top:50px;
	background-color: #003260;
	color:#FFF;
}

.subfooter a {
	color:#FFF;
}

.form-control-feedback {
    width: 60px;
    height: 40px;
    line-height: 94px !important;
    top: 0;
}

.navbar {
	background: #fff;
	border-radius:0;
	border-color: #1976D2;
	border-bottom-width: 2px;
}

header img.haven-logo {
	float: left;
	height: 50px;
    width: 140px;
}

/**Logo Image Link */
.navbar-header a:first-of-type {
	 border-right: 1px solid #ddd;
}

.navbar-inverse .navbar-brand {
    font-size: 25px;
	color: #414141;
}

.navbar-brand {
	height: 70px;
	padding-top: 10px;
}

header .media-left {
    border-right: 1px solid #ddd;
}

.company-name {
	padding-top: 15px;
	padding-left: 15px;
	font-size: 25px;
	float: left;
}
	
.margin-top-1em {
	margin-top: 1em;
}